
@{
	ViewBag.Title = "Books";
}




<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Books</title>
</head>
<body>
	<hgroup>
		<h1>Error in Books.</h1>
		<h2>You pressed Books and i sent you here.</h2>
	</hgroup>
</body>
</html>