
@{
    ViewBag.Title = "Movies";
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Movies</title>
</head>
<body>
	<hgroup>
		<h1>Error in Movies.</h1>
		<h2>You pressed Movies and i sent you here.</h2>
	</hgroup>
</body>
</html>